
body {
    height: 100hv;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* This is making it so the header stays on the right side of the screen apart from the other header items (links)*/

h1{
    
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    
}

a{
    text-decoration: none;
    color: #666;
}

a:hover{
    color: lightpink;
}

.links {
    display: flex;
    gap: 10px;
    color: #E5E7EB;
}


.content {
    display: flex;
    flex-direction: column;
    
    
}

.section1{
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 5vh;


}

.sign-up-sec1 {
    border: 0;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 15px;
    font-size: small;
}

.left-side-content{

    display: flex;
    direction: column;
   
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.pictures {
    display: flex;
    width: 500px;
    align-items: center;
    gap:50px;
}

.section3{
    background-color: #E5E7EB;
    text-align: center;
    padding: 0 20vh;
    font-style: italic;
}

.section4{
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.content-color-setter{
    background-color: #3882F6;
    display: flex;
    flex: 0 1 auto;
    gap: 100px;
    padding:10px;
    color: #F9FAF8;
    border-radius: 8px;
}

.right-side-button{
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0 20px;
    font-size: small;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color:#F9FAF8;
}




